@import "../../style/palette.module.scss";
.detailContainer {
    background: $color__seccondaryBack;
    // height: 100%;
    
    & > .closeButton {
        float: right;
        margin: 10px;
    }

    & .filterGroup {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    // & button {
    //     margin-right: 5px;
    // }
}