/* Coolors Exported Palette - coolors.co/fcecc9-fcb0b3-f93943-7eb2dd-445e93 */

/* HSL */
$color1: hsla(41%, 89%, 89%, 1);
$color2: hsla(358%, 93%, 84%, 1);
$color3: hsla(357%, 94%, 60%, 1);
$color4: hsla(207%, 58%, 68%, 1);
$color5: hsla(220%, 37%, 42%, 1);

/* RGB */
$color1: rgba(252, 236, 201, 1);
$color2: rgba(252, 176, 179, 1);
$color3: rgba(249, 57, 67, 1);
$color4: rgba(126, 178, 221, 1);
$color5: rgba(68, 94, 147, 1);